* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #fff;
    background-color: #1E1F29
}

footer {
    margin-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 90%;
    padding: 20px;
    margin: auto auto 20px auto;
}

header {
	margin-bottom: 5em;
}

p {
    margin: 20px 0;
}

article {
    font-size: 1.1rem;
    line-height: 1.5;
}

footer {
    text-align: center;
    opacity: 0.3;
    font-size: 0.8rem;
}

hr {
    opacity: 0.3;
    border: 1px solid;
    margin: 50px 0;
}

header nav {
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    padding: 3px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

nav a:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
    mix-blend-mode: screen;
}


#content {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

h4#date {
    margin-top: 5px;
    margin-bottom: 40px;
    font-weight: 400;
    opacity: 0.7;
}

#content {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.links {
    display: flex;
    justify-content: center;
}

.post-nav {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.post-list h2 a {
    color: #fff;
}

@media(max-width: 650px) {
    nav {
        flex-direction: column;
    }
}